header{
    background-color: #0B3D91;
    padding: 3%;
}

header h1{
    height: 100%;
    color: #FFFFFF;
}

h2{
    margin: 4% 0% 4% 0% !important;
    color: #0B3D91 !important;
}

main{
    background-color: #E6F2FA;
    height: 50%;
    padding-bottom: 500px;
}

figure{
    width: 400px;
    height: 300px;
    background-color: #FFFFFF !important;
}

img{
    margin-top: 10%;
    height: 70% !important;
    width: 70%;
}

footer{
    background-color: #0B3D91;
    padding: 2%;
}

footer h4{
    color: #FFFFFF;
}